<div [formGroup]="newTicketForm">
  <div class="modal-header"> New Ticket  </div>
  <div class="modal-body">
    <input class="form-item" type="text"  placeholder="Title" formControlName="title">
    <input class="form-item" type="text" placeholder="Content" formControlName="content">
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" (click)="createNewTicket()">Save</button>
    <button type="button" class="btn btn-info" (click)="cancelCreatingTicket()">Cancel</button>
  </div>
</div>
